/* Colours ------------------------------------------------------------------ */
$color-central:    #054a91;
$color-harsh:      #161a15;
$color-plain:      #E9E5EA;
$color-highlight1: #ff521b;
$color-highlight2: #e6a065;
$color-highlight3: #f2f3ae;

/* Fonts -------------------------------------------------------------------- */
@font-face {
  font-family: 'GlacialIndifference';
  src: url("fonts/glacial-indifference/GlacialIndifference-Regular.otf") format("opentype"); }
@font-face {
  font-family: 'GlacialIndifference';
  src: url("fonts/glacial-indifference/GlacialIndifference-Bold.otf") format("opentype");
  font-weight: bold; }
@font-face {
  font-family: 'GlacialIndifference';
  src: url("fonts/glacial-indifference/GlacialIndifference-Italic.otf") format("opentype");
  font-weight: italic; }
@font-face {
  font-family: 'OpenSans';
  src: url("fonts/open-sans/OpenSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'OpenSans';
  src: url("fonts/open-sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold; }
@font-face {
  font-family: 'OpenSans';
  src: url("fonts/open-sans/OpenSans-Italic.ttf") format("truetype");
  font-weight: italic; }

/* Text styles -------------------------------------------------------------- */
body {
  font-family: GlacialIndifference;
  text-align: center;
  width: 100%;
}

h1, h2, h3, h4 {
  font-family: GlacialIndifference;
}

p {
  font-family: OpenSans;
}

input {
  text-align: center;
  margin-bottom: 10px;
}

/* Custom classes ----------------------------------------------------------------- */

.login-bg {
  /* The image used */
  background-image: url("../assets/images/simon_logo.svg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.fully-centered {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
