/* Colours ------------------------------------------------------------------ */

$color-black: #000000;
$color-dark: #2f4550;
$color-primary: #586f7c;
$color-light: #b8dbd9;
$color-white: #f4f4f9;
$color-shadow: #00000080;

.color-black {
  color: $color-black;
}

.color-dark {
  color: $color-dark;
}

.color-primary {
  color: $color-primary;
}

.color-light {
  color: $color-light;
}

.color-white {
  color: $color-white;
}

.color-shadow {
  color: $color-shadow;
}

/* Fonts -------------------------------------------------------------------- */

@font-face {
  font-family: 'GlacialIndifference';
  src: url("fonts/glacial-indifference/GlacialIndifference-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'GlacialIndifferenceBold';
  src: url("fonts/glacial-indifference/GlacialIndifference-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: 'GlacialIndifferenceItalic';
  src: url("fonts/glacial-indifference/GlacialIndifference-Italic.otf") format("opentype");
  font-weight: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url("fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'OpenSans';
  src: url("fonts/open-sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: 'OpenSans';
  src: url("fonts/open-sans/OpenSans-Italic.ttf") format("truetype");
  font-weight: italic;
}

/* Text styles -------------------------------------------------------------- */

body {
  font-family: GlacialIndifference;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: $color-dark;
}

h1,
h2,
h3,
h4 {
  font-family: GlacialIndifferenceBold;
}

p {
  color: $color-dark;
}

a {
  color: $color-black;
}

small {
  font-size: 10px;
}

input {
  text-align: center;
  margin-bottom: 10px;
}

img {
  image-rendering: auto;
  // image-rendering: pixelated;
}

/* Generic Classes -------------------------------------------------- */

.active {
  background-color: $color-light;
}

.inactive {
  background-color: $color-primary;
}

.left {
  float: left;
}

.right {
  float: right;
}

.shadow {
  box-shadow: 0 2px 4px $color-shadow;
}

/* Animations --------------------------------------------------------------- */

@keyframes shake {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }

  25% {
    transform: translate(-4%, 0%) rotate(-2deg);
  }

  75% {
    transform: translate(4%, 0%) rotate(2deg);
  }

  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes opacity-oscillate {
  0% {
    opacity: 0.5;
  }

  25% {
    opacity: 0.9;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.5;
  }
}

/* Header and Footer Bars -------------------------------------------------- */

header {
  // flex: 0 1 auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: $color-dark;
  box-shadow: 0 2px 4px $color-shadow;
  display: flex;
  justify-content: space-between;
  z-index: 3;

  logo {
    content: url("/assets/images/simun-logo.png");
    display: block;
    height: 48px;
    margin: 12px;
    width: 48px;
    box-sizing: border-box;
    z-index: 3;
  }

  ul {
    list-style: none;
    margin-right: 48px;
  }

  li {
    font-family: GlacialIndifferenceBold;
    text-align: center;
    float: left;
    margin: 8px 24px 8px 24px;

    a {
      font-size: 22px;
      color: $color-primary;
      display: inline-block;
      position: relative;
      text-decoration: none;
    }
  }
}

footer {
  small {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 3;
    text-align: center;
    margin-bottom: 10px;
  }
}

/* Page Specifics -------------------------------------------------- */

home {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 80px 3px 3px 3px;
  background-color: $color-light;
  border-radius: 6px;
  padding: 10px;

  house {
    content: url("/assets/images/simun-logo.png");
    display: block;
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
    height: 20%;
    width: auto;
    box-sizing: border-box;
    z-index: 5;
  }

  postbox {
    content: url("/assets/images/postbox.png");
    display: block;
    position: absolute;
    left: 39%;
    top: 44.5%;
    // transform: translate(-50%, -50%);
    height: 7.5%;
    width: auto;
    box-sizing: border-box;
    z-index: 5;
  }

  postbox:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

  mail {
    content: url("/assets/images/simun-mail.png");
    display: block;
    position: absolute;
    left: 59%;
    top: 45%;
    height: 3%;
    width: auto;
    z-index: 5;
    animation: spin 10s linear infinite;
  }

  text-box {
    display: block;
    position: absolute;
    top: 60%;
    left: 30%;
    right: 30%;
    bottom: 20%;
    background-color: $color-dark;
    border-radius: 6px;
    padding: 10px;

    h1 {
      color: $color-light;
      font-size: 24px;
    }

    arrow-right {
      content: url("/assets/images/arrow-right.png");
      position: absolute;
      display: block;
      top: 70%;
      left: 56%;
      width: 10%;
      height: auto;
      z-index: 6;
      margin: 2%;
      transform: translate(-50%, -50%);
      animation: opacity-oscillate 1s linear infinite;
    }

    arrow-left {
      content: url("/assets/images/arrow-left.png");
      position: absolute;
      display: block;
      top: 70%;
      left: 41%;
      width: 10%;
      height: auto;
      z-index: 6;
      margin: 2%;
      transform: translate(-50%, -50%);
    }
  }
}

receive {
  background-color: $color-dark;

  snippet-list {
    margin: 78px 4px 0px 0px;
    display: table;
    width: 28%;
    background-color: $color-dark;
    border-collapse: separate;
    border-spacing: 1.5px 1.5px;

    row {
      cursor: pointer;
      display: table-row;
      column-span: 2;
      margin-bottom: 10x;
    }

    snippet {
      display: table-cell;
      width: 26%;
      background-color: $color-primary;
      padding: 10px;
      border-radius: 6px;

      info {
        width: 55%;
        float: left;
        text-align: left;
        display: block;
        overflow: auto;

        description {
          position: relative;
          font-size: 20px;
        }

        from {
          font-size: 14px;
          font-family: GlacialIndifferenceItalic;
        }
      }

      img {
        width: 40%;
        height: auto;
        max-height: 200px;
        float: right;
        display: block;
      }
    }
  }

  snippet-selected {
    display: block;
    position: absolute;
    top: 0;
    left: 28%;
    right: 0;
    bottom: 0;
    margin: 80px 3px 3px 3px;
    background-color: $color-light;
    border-radius: 6px;
    padding: 10px;

    info {

      description {
        display: block;
        position: absolute;
        text-align: center;
        left: 50%;
        top: 10%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        font-family: GlacialIndifferenceBold;
      }

      from {
        display: block;
        position: absolute;
        text-align: center;
        left: 50%;
        top: 79%;
        transform: translate(-50%, -50%);
        font-size: 16px;
        font-family: GlacialIndifferenceItalic;
      }
    }

    img {
      display: block;
      position: absolute;
      top: 46%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 60%;
      width: auto;
      max-width: 95%;
    }

    report {
      content: url("/assets/images/report.png");
      display: block;
      position: absolute;
      height: 5%;
      width: auto;
      right: 6px;
      top: 6px;
    }

    control-box {
      display: block;
      position: absolute;
      background-color: $color-primary;
      height: 8%;
      width: 20%;
      top: 88%;
      left: 50%;
      border-radius: 12px;
      transform: translate(-50%, -50%);

      trash-it {
        content: url("/assets/images/bin.png");
        display: block;
        position: absolute;
        height: 70%;
        width: auto;
        top: 50%;
        left: 10%;
        transform: translate(0%, -50%);
      }

      forward-it {
        content: url("/assets/images/plane-mail.png");
        display: block;
        height: 70%;
        width: auto;
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translate(0%, -50%);
      }
    }
  }
}

login {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 80px;
  background-color: $color-dark;

  h1 {
    color: $color-light;
    font-size: 100px;
    margin-bottom: 10px;
  }

  holder {
    display: block;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    height: 20%;
    width: auto;
    z-index: 5;
  }

  input {
    width: 200px;
    height: 14px;
    margin-bottom: 10px;
    background-color: $color-white;
    border-radius: 6px;
    padding: 10px;
    font-size: 22px;
    color: $color-dark;
  }

  button {
    margin-top: 10px;
    background-color: $color-light;
    border-radius: 6px;
  }

  .button:hover {
    background-color: $color-dark;
  }
}