doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"

include tools.pug

html(lang=lang)
  +create-head

  body.index-bg(scroll="no")

    // Big bar on top with navigation utilities.
    header
      a(href="/")
        logo
      ul
        li
          a(href="/account/logout") Logout
        li
          a(href="/inbox") Inbox
        li
          a.color-light(href="/outbox") Outbox
        li.nav-item
          a(href="/global") Global

    outbox
      holder
        input.shadow(id="snippet-title" type="text" placeholder="Title" required autofocus)
        box-input(id="snippet-file-container")
          input.shadow(id="snippet-file" type="file" required)
        p From !{alias}
        button(id="send-button")
  
  +create-footer
  
  script(type="text/javascript" src="/scripts/outbox.js")
  script(type="text/javascript" src="/scripts/tools.js")
