doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"

include tools.pug

html(lang=lang)
  +create-head('Account')

  body.index-bg(scroll="no")

    // Big bar on top with navigation utilities.
    header
      a(href="/")
        logo
      ul
        li
          a.color-light(href="/login") Login
        li.nav-item
          a(href="/global") Global


    login-register
      to-login
        p Login
        a(href="login")
          arrow

      holder
        form(class="login-submit" method="post" action="/account/register")
          h1 Simun  
          p These are your login credentials
          input.shadow(type="text" name="username" id="Input Username" placeholder="Username" required autofocus)
          br
          input.shadow(type="password" name="password" id="Input Password" placeholder="Password" required)
          br
          p This is the name that will be shown to other users
          input.shadow(type="text" name="alias" id="Input Alias" placeholder="Alias" required autofocus)
          br
          button(type="register" href="index") Register

          
  +create-footer