doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"

include menu.pug

html(lang=lang)
  head
    link(rel="shortcut icon", href="assets/favicon.ico")
    link(rel="stylesheet", href="style/style.css")
    title Index
  body(class="index-bg")
    div(class="sky")
    div(class="house fully-centered")
    div(class="grass")
    
    
    header
      p My soon to be menu
    section
      a(href="/public/login.html")
    footer
      cool footer with lots of copyrights
