doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"

include tools.pug

html(lang=lang)
  +create-head

  body.index-bg(scroll="no")

    // Big bar on top with navigation utilities.
    header
      a(href="/")
        logo
      ul
        li
          a.color-light(href="login") Login
        li
          a.color-light(href="receive") Receive
        li
          a.color-light(href="send") Send
        li.nav-item
          a.color-light(href="stats") Stats

    index
      house
      postbox
      mail
      text-box
        h1(id="info-text") Welcome to Simun!
        arrow-left(id="arrow-left")
        arrow-right(id="arrow-right")
  
  +create-footer

  script(type="text/javascript" src="scripts/index.js")
