doctype

include menu.pug

html(lang=lang)
  head
    link(rel="shortcut icon", href="/images/favicon.ico")
    link(rel="stylesheet", href="/style/style.css")
    title Index
  body
    header
      p My soon to be menu
    section
      a(href="/public/login.html")
    footer
      cool footer with lots of copyrights
