doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"

include tools.pug

html(lang=lang)
  +create-head

  body.index-bg(scroll="no")

    // Big bar on top with navigation utilities.
    header
      a(href="/")
        logo
      ul
        li
          a.color-light(href="login") Login
        li
          a(href="receive") Receive
        li
          a(href="send") Send
        li.nav-item
          a(href="stats") Stats


    login
      holder
      form(class="login-submit"  method="post" action="/login")
        h1 Simun  
        input.shadow(type="text" name="username" id="Input Username" placeholder="Username" autofocus)
        br
        input.shadow(type="password" name="password" id="Input Password" placeholder="Password")
        br
        button(type="submit" name="button" id="Input Username" placeholder="Username" value="login") Login  
        br
        button(type="submit" name="button" id="Input Username" placeholder="Username" value="register") Register
  +create-footer