html(lang=lang)
  head
    link(rel="shortcut icon", href="assets/favicon.ico")
    link(rel="stylesheet", href="style/style.css")
    title Login
  body(class="login-bg")
    div(class="fully-centered foreground-box")
      header
        p Login
      section
        input(type="text" name="uname" placeholder="username")
        br
        input(type="password" name="psw" placeholder="password")
        br
        button(type="submit") Login
        a(href="/public/login.html")
      footer
        cool footer with lots of copyrights
