doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"

include tools.pug

html(lang=lang)
  +create-head

  body.index-bg(scroll="no")

    // Big bar on top with navigation utilities.
    header
      a(href="index")
        logo
      ul
        li
          a.color-light(href="login") Login
        li
          a(href="receive") Receive
        li
          a(href="send") Send
        li.nav-item
          a(href="stats") Stats


    login
      holder
        h1 Simon  
        input.shadow(type="text" name="uname" placeholder="Username")
        br
        input.shadow(type="password" name="psw" placeholder="Password")
        br
        //- TODO: Replace link to index here with account details verification
        button(type="submit" href="index.html") Login
        br
        button(type="register" href="index.html") Register
  
  +create-footer
