doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"

include tools.pug

html(lang=lang)
  +create-head

  body.index-bg(scroll="no")

    // Big bar on top with navigation utilities.
    header
      a(href="/")
        logo
      ul
        li
          a(href="login") Login
        li
          a.color-light(href="receive") Receive
        li
          a(href="send") Send
        li.nav-item
          a(href="stats") Stats

    receive

      snippet-list
        for snippetcontent, index in snippetcontents
          row 
            a(id="select-"+index)
              snippet(href="index" id=snippetcontent.id)
                info
                  description #{snippetcontent.description}
                  br
                  from jhon
                img(src=snippetcontent.content)
      
      snippet-selected
        info
          description(id="selected-description")
          br
          from(id="selected-author")
        img(id="selected-content")
        a(href="" title="Report")
          report
        control-box
          a(id="trash-it" title="Trash it")
            trash-it
          a(id="forward-it" title="Forward it")
            forward-it

  +create-footer
  
  script(type="text/javascript" src="../scripts/receive.js")
  script(type="text/javascript" src="../scripts/tools.js")
