doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"

include tools.pug

html(lang=lang)
  +create-head

  body.index-bg(scroll="no")

    // Big bar on top with navigation utilities.
    header
      a(href="index")
        logo
      ul
        li
          a(href="logout") Logout
        li
          a.color-light(href="receive") Receive
        li
          a(href="send") Send
        li.nav-item
          a(href="stats") Stats

    receive

      a(id="expand-icon")
        expand-snippet-list-icon(id="expand-icon-visual")

      snippet-list(id='snippet-list')
        for snippetcontent, index in snippetcontents
          row 
            a(id="select-"+index)
              snippet(href="index" id=snippetcontent.id)
                info
                  description #{snippetcontent.description}
                  br
                  from jhon
                img(src=snippetcontent.content)

      center-column
        control-box(id="control-box")
          action-holder(id="action-holder")
            a(id="forward-it" title="Forward it")
              forward-it
            a(id="trash-it" title="Trash it")
              trash-it
            a(id="report" title="Report")
              report-it
        
        snippet-selected
          img(id="selected-content")
          comments
            comment
              h1 FirstAlias #[small Eli]
              p Cheers Imgur
            comment
              h1 SecondAlias
              p Cheers Imgur

  +create-footer
  
  script(type="text/javascript" src="../scripts/receive.js")
  script(type="text/javascript" src="../scripts/tools.js")
