doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"

include tools.pug

html(lang=lang)
  +create-head

  body.index-bg(scroll="no")

    // Big bar on top with navigation utilities.
    header
      a.simon-logo(href="index.html")
      //- div.simon-postbox
      ul
        li
          a(href="receive.html") Receive
        li
          a(href="sent.html") Send
        li.nav-item
          a.color-light(href="stats.html") Stats
  
  +create-footer
