mixin create-head
  head
    link(rel="shortcut icon", href="assets/favicon.ico")
    link(rel="stylesheet", href="style/style.css")
    title Index
    meta(charset="unicode")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

mixin create-footer
  footer
    small.color-black Copyright © - All Rights Reserved - Elias Kassell Raymond and James Adams. 
      a.color-black(href="https://www.gnu.org/licenses/gpl-3.0.en.html") Licensed under Gnu GPLv3