
/* Colours ------------------------------------------------------------------ */
$color-central:    #054a91;
$color-harsh:      #161a15;
$color-highlight1: #ff521b;
$color-highlight2: #e6a065;
$color-highlight3: #f2f3ae;

/* Fonts -------------------------------------------------------------------- */
@font-face {
  font-family: 'GlacialIndifference';
  src: url('fonts/glacial-indifference/GlacialIndifference-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'GlacialIndifference';
  src: url('fonts/glacial-indifference/GlacialIndifference-Bold.otf') format('opentype');
  font-weight: bold;
}
@font-face {
  font-family: 'GlacialIndifference';
  src: url('fonts/glacial-indifference/GlacialIndifference-Italic.otf') format('opentype');
  font-weight: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans';
  src: url('fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'OpenSans';
  src: url('fonts/open-sans/OpenSans-Italic.ttf') format('truetype');
  font-weight: italic;
}

/* Text styles -------------------------------------------------------------- */
body {
  font-family: GlacialIndifference;
  background-color: $color-central;
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: GlacialIndifference;
}

p {
  font-family: OpenSans;
}

a {

}

#header {
  #main-menu {

  }
}

// @charset "utf-8";
//
// @import url("framework.css");
//
//
// #class3 {
//   color: var(color-central);
//  }
// #class4 {
//   color: var(color-harsh);
//  }
//
// .background#foo {
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   background-color: $color-central;
// }
//
// input[type=text], input[type=password] {
//   width: 100%;
//   padding: 12px 20px;
//   margin: 8px 0;
//   display: inline-block;
//   border: 1px solid #ccc;
//   box-sizing: border-box;
// }
//
//  .class1,
//  .class2 {
//     color: red;
//  }
//
// .set-width{
//    background-color: red;
//    width: 50%;
//    padding-left: 100px;
//    padding-right: 100px;
// }

// @charset "utf-8";
//
//
// body, input, textarea, select{font-family:OpenSans, serif;}
// h1, h2, h3, h4, h5, h6, a, .heading{font-family:GlacialIndifference, serif;}
