/* Colours ------------------------------------------------------------------ */
.color-black {
  color: #000000;
}

.color-dark {
  color: #2f4550;
}

.color-primary {
  color: #586f7c;
}

.color-light {
  color: #b8dbd9;
}

.color-white {
  color: #f4f4f9;
}

.color-shadow {
  color: #00000080;
}

/* Fonts -------------------------------------------------------------------- */
@font-face {
  font-family: "GlacialIndifference";
  src: url("fonts/glacial-indifference/GlacialIndifference-Regular.otf") format("opentype");
}
@font-face {
  font-family: "GlacialIndifferenceBold";
  src: url("fonts/glacial-indifference/GlacialIndifference-Bold.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "GlacialIndifferenceItalic";
  src: url("fonts/glacial-indifference/GlacialIndifference-Italic.otf") format("opentype");
  font-weight: italic;
}
@font-face {
  font-family: "OpenSans";
  src: url("fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  src: url("fonts/open-sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "OpenSans";
  src: url("fonts/open-sans/OpenSans-Italic.ttf") format("truetype");
  font-weight: italic;
}
/* Text styles -------------------------------------------------------------- */
body {
  font-family: GlacialIndifference;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  width: 100%;
}

h1, h2, h3, h4 {
  font-family: GlacialIndifference;
}

p {
  font-family: OpenSans;
  color: #000000;
}

input {
  text-align: center;
  margin-bottom: 10px;
}

/* Generic Classes -------------------------------------------------- */
.simon-logo {
  content: url("../assets/images/simon-logo.png");
  display: block;
  height: 48px;
  margin: 12px;
  width: 48px;
  box-sizing: border-box;
  z-index: 3;
}

.simon-postbox {
  content: url("../assets/images/mailbox.png");
  display: block;
  height: 64px;
  margin: 8px;
  width: 64px;
  box-sizing: border-box;
  z-index: 3;
}

/* Header bar -------------------------------------------------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2f4550;
  box-shadow: 0 2px 4px #00000080;
  display: flex;
  justify-content: space-between;
  z-index: 4;
}
header ul {
  list-style: none;
  margin-right: 32px;
}
header li {
  font-family: GlacialIndifferenceBold;
  text-align: center;
  float: left;
  margin-left: 24px;
  margin-right: 24px;
}
header li a {
  font-size: 22px;
  color: #586f7c;
  display: inline-block;
  line-height: 36px;
  position: relative;
  text-decoration: none;
}
header li a .light {
  color: #b8dbd9;
}

.snippet-select-bar {
  position: fixed;
  width: 33%;
  left: 0;
  bottom: 0;
}

.snippet-item {
  width: 90%;
  height: 90%;
}

.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 4;
  text-align: center;
}

/* Animations --------------------------------------------------------------- */
@keyframes shake {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  25% {
    transform: translate(-2%, 0%) rotate(-1deg);
  }
  75% {
    transform: translate(2%, 0%) rotate(1deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}

/*# sourceMappingURL=style.css.map */
