/* Fonts -------------------------------------------------------------------- */
@font-face {
  font-family: "GlacialIndifference";
  src: url("fonts/glacial-indifference/GlacialIndifference-Regular.otf") format("opentype");
}
@font-face {
  font-family: "GlacialIndifferenceBold";
  src: url("fonts/glacial-indifference/GlacialIndifference-Bold.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "GlacialIndifferenceItalic";
  src: url("fonts/glacial-indifference/GlacialIndifference-Italic.otf") format("opentype");
  font-weight: italic;
}
@font-face {
  font-family: "OpenSans";
  src: url("fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSansBold";
  src: url("fonts/open-sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "OpenSansItalic";
  src: url("fonts/open-sans/OpenSans-Italic.ttf") format("truetype");
  font-weight: italic;
}
/* Colours and Generic Classes ------------------------------------------------- */
.color-black {
  color: #000000;
}

.color-dark {
  color: #2f4550;
}

.color-primary {
  color: #586f7c;
}

.color-light {
  color: #b8dbd9;
}

.color-white {
  color: #f4f4f9;
}

.color-shadow {
  color: #00000080;
}

.active {
  background-color: #b8dbd9;
}

.inactive {
  background-color: #586f7c;
}

.left {
  float: left;
}

.right {
  float: right;
}

.shadow {
  box-shadow: 0 2px 4px #00000080;
}

.circular-border {
  border-radius: 100%;
  border: 2px solid #586f7c;
  box-shadow: 0px 2px 4px #00000080;
}

.circular-border:hover {
  border: 2px solid #b8dbd9;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* Text styles -------------------------------------------------------------- */
body {
  font-family: GlacialIndifference;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #2f4550;
  transition: 0.2s;
}

html {
  background-color: #2f4550;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4 {
  font-family: GlacialIndifferenceBold;
}

p {
  color: #2f4550;
}

a {
  color: #000000;
}

small {
  font-size: 10px;
}

input {
  text-align: center;
  margin-bottom: 10px;
}

button {
  box-shadow: 0 2px 4px #00000080;
  margin-top: 10px;
  background-color: #b8dbd9;
  border-radius: 6px;
  color: #2f4550;
  font-size: 16px;
  transition: 0.2s;
  cursor: pointer;
}

button:focus {
  outline: none;
}

input {
  width: 200px;
  height: 14px;
  margin-bottom: 10px;
  background-color: #f4f4f9;
  border-radius: 4px;
  padding: 10px;
  font-size: 22px;
  color: #2f4550;
}

input:focus {
  outline: none;
  border: 2px solid #586f7c;
}

textarea {
  width: auto;
  min-height: 100px;
  background-color: #f4f4f9;
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
  color: #2f4550;
  border: 2px solid #2f4550;
  resize: none;
  overflow: auto;
}

textarea:focus {
  outline: none;
  border: 2px solid #586f7c;
}

img {
  image-rendering: auto;
}

/* Animations --------------------------------------------------------------- */
@keyframes shake {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  25% {
    transform: translate(-4%, 0%) rotate(-2deg);
  }
  75% {
    transform: translate(4%, 0%) rotate(2deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}
@keyframes spin {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes opacity-oscillate {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.9;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.5;
  }
}
/* Header and Footer Bars -------------------------------------------------- */
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #2f4550;
  box-shadow: 0 2px 4px #00000080;
  display: flex;
  justify-content: space-between;
  z-index: 3;
}
header logo {
  content: url("/assets/images/button-simun-logo.png");
  display: block;
  height: 60px;
  margin: 6px;
  width: 60px;
  border: 2px solid #2f4550;
  border-radius: 100%;
  box-sizing: border-box;
  z-index: 3;
}
header ul {
  list-style: none;
  margin-left: -30px;
}
@media (min-width: 0px) {
  header li {
    font-family: GlacialIndifferenceBold;
    text-align: center;
    float: left;
    margin: 10px 16px 10px 0px;
  }
  header li a {
    font-size: 18px;
    color: #586f7c;
    display: inline-block;
    position: relative;
    text-decoration: none;
  }
}
@media (min-width: 600px) {
  header li {
    font-family: GlacialIndifferenceBold;
    text-align: center;
    float: left;
    margin: 8px 24px 8px 24px;
  }
  header li a {
    font-size: 22px;
    color: #586f7c;
    display: inline-block;
    position: relative;
    text-decoration: none;
  }
}

footer small {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 3;
  text-align: center;
  margin-bottom: 10px;
}

/* Page Specifics -------------------------------------------------- */
home {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 80px 3px 3px 3px;
  background-color: #b8dbd9;
  border-radius: 6px;
  padding: 10px;
}
home center-piece {
  content: url("/assets/images/button-simun-logo.png");
  display: block;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  height: 20%;
  width: auto;
  transition: 0.2s;
  border-radius: 100%;
  border: 4px solid #b8dbd9;
  box-shadow: 0px 2px 4px #00000080;
}
home postbox {
  content: url("/assets/images/postbox.png");
  display: block;
  position: absolute;
  left: 32%;
  top: 44.5%;
  height: 7.5%;
  width: auto;
  box-sizing: border-box;
  z-index: 5;
}
home postbox:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
home mail {
  content: url("/assets/images/plane-mail-spinner.png");
  display: block;
  position: absolute;
  top: 40.2%;
  left: 50%;
  height: 40%;
  width: auto;
  z-index: 5;
  animation: spin 2s linear infinite;
}
@media (min-width: 0px) {
  home text-box {
    display: block;
    position: absolute;
    width: 300px;
    height: 140px;
    top: 60%;
    left: 50%;
    background-color: #2f4550;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    transform: translate(-50%, 0%);
  }
  home text-box h1 {
    color: #b8dbd9;
    font-size: 20px;
    vertical-align: center;
  }
  home text-box arrow-right {
    content: url("/assets/images/arrow-right.png");
    position: absolute;
    display: block;
    top: 75%;
    left: 56%;
    width: 12%;
    height: auto;
    z-index: 6;
    margin: 2%;
    transform: translate(-50%, -50%);
    animation: opacity-oscillate 1s linear infinite;
    cursor: pointer;
  }
  home text-box arrow-left {
    content: url("/assets/images/arrow-left.png");
    position: absolute;
    display: block;
    top: 75%;
    left: 41%;
    width: 12%;
    height: auto;
    z-index: 6;
    margin: 2%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    visibility: hidden;
  }
}
@media (min-width: 600px) {
  home text-box {
    display: block;
    position: absolute;
    width: 400px;
    height: 140px;
    top: 60%;
    left: 50%;
    background-color: #2f4550;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    transform: translate(-50%, 0%);
  }
  home text-box h1 {
    color: #b8dbd9;
    font-size: 22px;
    vertical-align: center;
  }
  home text-box arrow-right {
    content: url("/assets/images/arrow-right.png");
    position: absolute;
    display: block;
    top: 75%;
    left: 56%;
    width: 12%;
    height: auto;
    z-index: 6;
    margin: 2%;
    transform: translate(-50%, -50%);
    animation: opacity-oscillate 1s linear infinite;
    cursor: pointer;
  }
  home text-box arrow-left {
    content: url("/assets/images/arrow-left.png");
    position: absolute;
    display: block;
    top: 75%;
    left: 41%;
    width: 12%;
    height: auto;
    z-index: 6;
    margin: 2%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    visibility: hidden;
  }
}

receive {
  background-color: #2f4550;
}
receive expand-snippet-list-icon {
  content: url("../assets/images/button-chevron.png");
  position: fixed;
  top: 86px;
  left: 12px;
  height: 38px;
  width: 38px;
  z-index: 5;
  border-radius: 100%;
  transition: 0.2s;
  cursor: pointer;
}
receive snippet-list-background {
  position: fixed;
  display: block;
  top: 72px;
  left: -288px;
  width: 280px;
  height: 100%;
  transition: 0.3s;
  z-index: 1;
  background-color: #2f4550;
  box-shadow: 2px 0 4px #00000080;
}
receive snippet-list {
  position: fixed;
  display: table;
  top: 72px;
  left: -288px;
  width: 280px;
  height: auto;
  overflow-x: hidden;
  border-collapse: separate;
  border-spacing: 2px 2px;
  transition: 0.3s;
  z-index: 2;
  padding-top: 66px;
  border-radius: 4px;
}
receive snippet-list row {
  cursor: pointer;
  display: table-row;
  column-span: 2;
  margin-bottom: 10px;
}
receive snippet-list row snippet {
  display: table-cell;
  width: 280px;
  background-color: #586f7c;
  padding: 10px;
  border-radius: 6px;
}
receive snippet-list row snippet info {
  width: 55%;
  float: left;
  text-align: left;
  display: block;
  overflow: auto;
}
receive snippet-list row snippet info description {
  position: relative;
  font-size: 20px;
}
receive snippet-list row snippet info from {
  font-size: 14px;
  font-family: GlacialIndifferenceItalic;
}
receive snippet-list row snippet img {
  width: 40%;
  height: auto;
  max-height: 200px;
  float: right;
  display: block;
}
receive center-column {
  display: block;
  position: relative;
  height: 100vh;
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
}
receive center-column control-box {
  display: block;
  position: fixed;
  background-color: #586f7c;
  left: 0;
  top: 80px;
  width: 56px;
  height: calc(100vh - 84px);
  border-radius: 6px;
  margin-left: 4px;
  overflow: auto;
}
receive center-column control-box a {
  cursor: pointer;
}
receive center-column control-box action-holder {
  display: block;
  position: absolute;
  height: 144px;
  width: 42px;
  top: 50%;
  left: 8px;
  transform: translate(0%, -50%);
  transition: 0.2s;
}
receive center-column control-box action-holder forward-it {
  content: url("/assets/images/button-plane-mail.png");
  display: block;
  position: relative;
  width: calc(100% - 4px);
  height: auto;
  margin-bottom: 10px;
  transition: 0.2s;
}
receive center-column control-box action-holder trash-it {
  content: url("/assets/images/button-bin.png");
  display: block;
  position: relative;
  width: calc(100% - 4px);
  height: auto;
  margin-bottom: 10px;
  transition: 0.2s;
}
receive center-column control-box action-holder report-it {
  content: url("/assets/images/button-report.png");
  display: block;
  position: relative;
  width: calc(100% - 4px);
  height: auto;
  margin-bottom: 10px;
  transition: 0.2s;
}
receive center-column snippet-selected {
  display: block;
  position: absolute;
  height: auto;
  top: 80px;
  left: 64px;
  background-color: #586f7c;
  border-radius: 6px;
  padding: 10px;
  margin-right: 4px;
  margin-bottom: 4px;
  overflow: auto;
}
receive center-column snippet-selected title-holder {
  display: block;
  border-radius: 4px;
  background-color: #b8dbd9;
  text-align: left;
  padding: 8px;
  margin-bottom: 8px;
}
receive center-column snippet-selected title-holder h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 26px;
  color: #2f4550;
  text-align: center;
}
receive center-column snippet-selected img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 2px 4px #00000080;
}
receive center-column snippet-selected comments {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 4px;
  width: 100%;
  height: auto;
}
receive center-column snippet-selected comments comment {
  display: block;
  flex: 1;
  border-radius: 4px;
  background-color: #2f4550;
  text-align: left;
  margin-top: 8px;
  margin-bottom: 0px;
  padding: 4px;
}
receive center-column snippet-selected comments comment h1 {
  color: #b8dbd9;
  font-size: 18px;
  margin: 0px;
}
receive center-column snippet-selected comments comment small {
  color: #586f7c;
  margin-left: 0px;
}
receive center-column snippet-selected comments comment p {
  margin: 0;
  color: #b8dbd9;
  line-height: 30px;
  font-size: 16px;
}
receive center-column snippet-selected textarea {
  width: auto;
  height: auto;
  margin-top: 8px;
}
receive center-column snippet-selected button {
  background-image: url("/assets/images/button-plus.png");
  background-position: 50% 50%;
  background-size: 52px 52px;
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  margin-top: 8px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  border: 2px solid #f4f4f9;
}

login-register {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 80px;
  background-color: #2f4550;
}
login-register h1 {
  color: #b8dbd9;
  font-size: 100px;
  margin-bottom: 10px;
  text-shadow: 0 2px 4px #00000080;
}
login-register holder {
  display: block;
  position: absolute;
  left: 50%;
  top: 12%;
  transform: translate(-50%, -50%);
  height: 20%;
  width: auto;
  z-index: 5;
}
login-register to-register {
  position: absolute;
  width: auto;
  height: auto;
  top: 70%;
  left: 70%;
}
login-register to-register arrow {
  content: url("/assets/images/arrow-right.png");
  display: block;
  height: 30px;
  width: auto;
}
login-register to-register p {
  text-align: left;
  margin-left: 4px;
  margin-bottom: -2px;
}
login-register to-login {
  position: absolute;
  width: auto;
  height: auto;
  top: 70%;
  left: 10%;
}
login-register to-login arrow {
  content: url("/assets/images/arrow-left.png");
  display: block;
  height: 30px;
  width: auto;
}
login-register to-login p {
  text-align: right;
  margin-right: 4px;
  margin-bottom: -2px;
}
login-register p {
  color: #b8dbd9;
  font-size: 14px;
  margin-bottom: 2px;
  text-shadow: 0 2px 4px #00000080;
}
login-register .button:hover {
  background-color: #2f4550;
}

outbox {
  display: table;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(circle, #2f4550 70%, #b8dbd9, #2f4550, #2f4550);
}
outbox holder {
  padding-top: 76px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
outbox holder p {
  color: #b8dbd9;
  font-family: OpenSansItalic;
  margin-bottom: 0px;
}
outbox holder box-input {
  display: block;
  width: 400px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #586f7c;
  text-align: center;
  border-radius: 12px;
  border: 8px dashed #586f7c;
  background-image: url("/assets/images/plus-with-background.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.4s;
  box-shadow: 0 2px 4px #00000080;
}
outbox holder box-input input {
  width: 380px;
  height: 180px;
  opacity: 0;
  cursor: pointer;
}
outbox holder box-input:hover {
  border: 8px dashed #b8dbd9;
}
outbox holder input {
  width: 200px;
  height: 14px;
  margin-bottom: 16px;
  background-color: #f4f4f9;
  border-radius: 6px;
  padding: 10px;
  font-size: 22px;
  color: #2f4550;
}
outbox holder button {
  background-image: url("/assets/images/send-button.png");
  background-position: 50% 50%;
  background-size: 98% 98%;
  width: 100px;
  height: 60px;
  box-sizing: border-box;
  border: none;
  border-radius: 12px;
  border: 4px solid #2f4550;
  cursor: pointer;
}
outbox holder button:hover {
  border: 4px solid #b8dbd9;
}

global center-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: auto;
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
  margin-bottom: 4px;
}
global center-column snippet {
  display: block;
  flex: 1;
  border-radius: 4px;
  background-color: #586f7c;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 0px;
  padding: 4px;
  height: auto;
}
global center-column snippet title-holder {
  display: block;
  border-radius: 4px;
  background-color: #b8dbd9;
  text-align: left;
  padding: 8px;
  margin: 4px;
}
global center-column snippet title-holder h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 26px;
  color: #2f4550;
  text-align: center;
}
global center-column snippet img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  box-shadow: 0 2px 4px #00000080;
  margin-top: 4px;
  margin-bottom: 4px;
}

/*# sourceMappingURL=style.css.map */
